<div class="">
	<h2>Zensar India Holidays</h2>
	<h4>Add holidays for as per your location based by filling below form with Holiday name and Holiday Date.</h4>
	<section class="" *ngIf="isManager">
		<div class="holidayFormWarp">
			<form [formGroup]="holidayForm" class="form-inline" (ngSubmit)="onSubmitHoliday()">
				<div class="md-col-3 form-group">
					<!-- <label for="holidayName">Enter a holiday name:</label> -->
					<input formControlName="holidayName" type="text" class="form-control"  
					placeholder="Enter a holiday name" id="holidayName">
				</div>
				<div class="md-col-3 form-group">
					<mat-form-field> 
						<!-- <label>From Date</label>	 -->
						<div class="dateWrap">
							<input matInput [matDatepicker]="pickerFrom" formControlName="holidayDate" placeholder="Select Holiday Date">
							<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
							<mat-datepicker #pickerFrom></mat-datepicker>
						</div>
					</mat-form-field>
				</div>
				<div class="md-col-3">
					<button type="submit" class="btn btn-primary" [disabled]='holidayForm.invalid'>Add Holiday</button>
				</div>
			</form>
		</div>
	</section>
</div>

<section class="col-md-8">
	<table id="customers">
		<thead>
			<tr>
				<th>Sr.no</th>
				<th>Holiday Name</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let holi of holidays ; let id = index">
				<td>{{id}}</td>
				<td>{{holi.holidayName}}</td>
				<td>{{holi.holiday_date}}</td>
			</tr>
		</tbody>
	</table>
</section>