<div class="">
	<h3 class="page_header">Zensar India Holidays</h3>
	<h4>Add holidays as per your location based by filling below form with Holiday name and Holiday Date.</h4>
	<section class="col-md-12" *ngIf="isManager">
		<div class="holidayFormWarp">
			<form [formGroup]="holidayForm" class="form-inline" (ngSubmit)="onSubmitHoliday()">
				<div class="md-col-3 form-group">
					<mat-form-field class="example-full-width">
						<mat-label>Select Holiday Name:</mat-label>
						<input matInput placeholder="eg: Good Friday" formControlName="holidayName" 
							#inputHoliday id="holidayName">
					</mat-form-field>
				</div>
				<div class="md-col-3 form-group">
					<mat-form-field>
						<mat-label>Select Holiday Date:</mat-label>
						<input #inputDate matInput [matDatepicker]="pickerFrom" formControlName="holidayDate">
						<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
						<mat-datepicker #pickerFrom></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="md-col-3 holidayBtnSec">
					<button type="submit" class="btn btn-dark" 
					[disabled]='holidayForm.invalid'>Add Holiday</button>
				</div>
			</form>
		</div>
	</section>
</div>

<section class="col-md-12 mar_Bot">
	<table id="customers">
		<thead>
			<tr>
				<th>Sr.no</th>
				<th>Holiday Name</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let holi of holidays ; let id = index">
				<td>{{id}}</td>
				<td>{{holi.holidayName}}</td>
				<td>{{holi.holiday_date}}</td>
			</tr>
		</tbody>
	</table>
</section>