<h3 class="page_header">Change your existing password</h3>
<div class="card m-3">
  <h3 class="card-header">Change Password</h3>
  <div class="card-body">
      <form [formGroup]="changePwdForm" (ngSubmit)="onSubmit()">
          
          <div class="form-group col-6 pl-1">
              <label>Existing Password</label>
              <input type="password" formControlName="existingPwd" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.existingPwd.errors }" />
              <div *ngIf="submitted && f.existingPwd.errors" class="invalid-feedback">
                  <div *ngIf="f.existingPwd.errors.required">Existing Password is required</div>
                  <div *ngIf="f.existingPwd.errors.minlength">Existing Password must be at least 6 characters </div>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  <label>New Password</label>
                  <input type="password" formControlName="newPassword" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                  <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                      <div *ngIf="f.newPassword.errors.minlength">New Password must be at least 6 characters</div>
                  </div>
              </div>
              <div class="form-group col">
                  <label>Confirm Password</label>
                  <input type="password" formControlName="confirmPassword" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
              </div>
          </div>
         
          <div class="text-center">
              <button class="btn btn-primary mr-1">Change Password</button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
          </div>
      </form>
  </div>
</div>
