<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark z_nav" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Dashboard</a>
        <a class="nav-item nav-link" routerLink="mgr-dashboard" *ngIf="isManager">
          MangerDashboard</a>
        <a class="nav-item nav-link" routerLink="userprofile">UserProfile</a>
        <a class="nav-item nav-link" routerLink="holidays">Holidays</a>
        <a class="nav-item nav-link" routerLink="add-employee">AddEmployee</a> 
        <a class="nav-item nav-link" routerLink="changepwd">ChangePassword</a>
        <a class="nav-item nav-link pull-right" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container jumbotron-0">
    <router-outlet></router-outlet>
</div>

<div class="footer">
    <div class="container">
        <p>Privacy content: Above data is use as internal purpose and not to ues any external as it is a propery of <a href="https://www.zensar.com/" target="_blank">Zensar Technologies Limited</a></p>
    </div>
</div>

