<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Dashboard</a>
        <a class="nav-item nav-link" routerLink="mgr-dashboard" *ngIf="isManager">
          MangerDashboard</a>
          <a class="nav-item nav-link" routerLink="userprofile">userprofile</a>
          <a class="nav-item nav-link" routerLink="holidays">Holidays</a>
          
        <a class="nav-item nav-link pull-right" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <router-outlet></router-outlet>
    <!-- <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
               
            </div>
        </div>
    </div> -->
</div>

