<div class="">
<div class="mar_Bot row0">
	<h3 class="page_header">Add New Employee</h3>
	<div class="col-md-12">
		<div class="card card-user">
			<div class="card-header">
				<h4 class="card-title">Add Employee</h4>
			</div>
			<div class="card-body">
					<div class="row">
						<div class="col-md-5 pr-1">
							<div class="form-group">
								<label>Employee Id</label>
								 <input type="number" class="form-control" 
									value="">
							</div>
						</div>
						<div class="col-md-3 px-1">
							<div class="form-group">
								<label>Contact Number</label> 
								<input type="text" class="form-control"
									placeholder="contact_number" value="">
							</div>
							<!-- [(ngModel)]="emp.contact_number" -->
						</div>
						<div class="col-md-4 pl-1">
							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email" class="form-control" placeholder="Email" 
								value="">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 pr-1">
							<div class="form-group">
								<label>First Name</label> 
								<input type="text" class="form-control" placeholder="Company"
								 value="">
							</div>
						</div>
						<div class="col-md-6 pl-1">
							<div class="form-group">
								<label>Last Name</label> 
								<input type="text" class="form-control" placeholder="Last Name"
								 value="">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Location</label> 
								<input type="text" class="form-control" placeholder="location"
									value="">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 pr-1">
							<div class="form-group">
								<label>DesignationRole</label> 
								<input type="text" class="form-control"
									 value="">
							</div>
						</div>
						<div class="col-md-4 px-1">
							<div class="form-group">
								<label>Project Date of Joining</label> 
								<input type="date" class="form-control"
								 value="">
							</div>
						</div>
						<div class="col-md-4 pl-1">
							<div class="form-group">
								<label>Project Date of Release</label> 
								<input type="date" class="form-control"
								 value="">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Level</label> 
								<input type="number" class="form-control" placeholder="level"
								 value="">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="update ml-auto mr-auto">
							<button type="submit" class="btn btn-primary btn-round" >Update
								Profile</button>
						</div>
					</div>
				
			</div>
		</div>
	</div>

	</div>
</div>
