/* table, th, td {
  color: blue;
    border: 1px solid black;
    border-collapse: collapse;
  } */

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(110, 119, 111);
  color: white;
}
.z_acions{
  display: inline-block;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  font-size: 12px;
}
th.wid_75{
  width: 75px !important;
}
.search_wrap{
  display: inline-block;
  vertical-align: top;
}
.search_wrap select, .search_wrap button{
  margin-right: 5px;
}
h3.page_header{
  font-size: 22px;
  font-weight: bold;
  margin-top: 25px;
}
.download_report_btn_sec{
  margin-top: 20px;
  text-align: right;
  padding-bottom: 65px;
}
.download_report_btn_sec button{
  margin: 10px 0 15px 30px;
}