<!-- <h1>Hi {{currentUser.firstName}}!</h1> -->
<!-- <h1>Hi {{currentUser.id}}!</h1> -->
<h3 class="page_header">Welcome {{ currentUser.roles.roleNames }} {{
	currentUser.username }}</h3>
<section class="row">
	<div class="col-md-12">
		<h4>Filter below table data by selecting Lead Name, Year and Month, then click Apply Filter</h4>
		<form [formGroup]="oppoSuitsForm" (ngSubmit)="onSubmit()" class="">
			
			<div class="col-md-8 search_wrap">
				<select formControlName="selectedleadName" class="col-md-5 custom-select mb-3">
					<!-- <option [ngValue]="null" selected>Select Lead Name </option> -->
					<option *ngFor="let suit of leadName" [ngValue]="suit.empName" [disabled]="makeDisabled">{{suit.empName}}</option>
				</select>
				<select formControlName="year" class="col-md-3 custom-select mb-3">
					<option selected>Select Year</option>
					<option *ngFor="let suit of oppoSuits" [ngValue]="suit">{{suit}}</option>
				</select>
				<select formControlName="month" class="col-md-3 custom-select mb-3">
					<option selected>Select Month</option>
					<option *ngFor="let suit of month" [ngValue]="suit">{{suit}}</option>
				</select>
			</div>
			<div class="col-md-4 search_wrap">
				<button class="col-md-1x btn btn-dark" type="submit" [disabled]="oppoSuitsForm.invalid">Apply Filter</button>
				<button class="col-md-1x btn btn-secondary" type="button" (click)='clearFilter()'>ClearFilter</button>
			</div>
				
			
		</form>
	</div>
</section>

<section class="row">
	<div class="row">
		<div class="col-md-12">
			<table id="customers" style="overflow-x:auto;">
				<thead>
					<tr>
						<th>Role</th>
						<th>Technology</th>
						<th>Level</th>
						<th>Location</th>
						<th>Name</th>
						<th>Person Responsible for updating data</th>
						<th>Emp. Code</th>
						<th>WFH</th>
						<th>wfhDates</th>
						<th>leaveCount</th>
						<th>leaveDates</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let employeeInformationDto of employeeInformationDtos ">
						<td>{{ employeeInformationDto.designationRole }}</td>
						<td>{{ employeeInformationDto.level }}</td>
						<td>{{ employeeInformationDto.level }}</td>
						<td>{{ employeeInformationDto.location }}</td>
						<td>{{ employeeInformationDto.firstName }} {{
							employeeInformationDto.lastName }}</td>
						<td>{{ employeeInformationDto.lead }}</td>
						<td>{{ employeeInformationDto.employee_Id }}</td>
						<td>{{ employeeInformationDto.wfhCount }}</td>
						<!-- <td>{{ employeeInformationDto.leavesInformations.wfhDates }}</td> -->
						<td>
							<div style="overflow: auto; max-height: 200px;width: 75px;">
								<div *ngFor="let da of employeeInformationDto.wfhDates ">
									{{da}}
								</div>
							</div>
						</td>
						<td>{{ employeeInformationDto.leaveCount }}</td>
						<td>
							<div style="overflow: auto; max-height: 200px;width: 75px;">
								<div *ngFor="let leave of employeeInformationDto.leaveDates">
									{{leave}}
								</div>
							</div>
						</td>
						<td>
							<div class="tempMarBot">
								<button class="btn btn-dark" 
									(click)="addLeaves(employeeInformationDto)">Add</button> 
								<button class="btn btn-outline-secondary" 
									(click)="deleteLeave(employeeInformationDto)">Delete</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- <button class="btn btn-primary btn-round" type="submit" (click)='updateData( )'>updateEmployee</button> -->
		</div>
		<div *ngIf="dialogValue">
			<b>Value From Dialog</b>: {{dialogValue}}
		</div>
  </div>
  
	<ng-template #editProfileModal let-modal>
		<div class="modal-header">
			<h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
			<button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<label>EmployeeName</label>{{empDetails.employee_Id}}
			<form [formGroup]="editProfileForm" (ngSubmit)="updateEmployee()">
				<div class="form-group row">
					<label for="firstname" class="col-sm-4 col-form-label">First Name</label>
					<div class="col-sm-8">
						<input type="number" class="form-control" formControlName="firstname" id="firstname">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Select Date</label>
					<mat-form-field>
						<input matInput [matDatepicker]="picker" placeholder="Choose a date">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
					</mat-form-field>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div>
	</ng-template>
</section>

<div class="download_report_btn_sec">
	<button class="btn btn-primary btn-round" type="button" (click)='downloadTimesheetReport()'><i class="fas fa-clock"></i> | Download Timesheet Report</button>
	<button class="btn btn-primary btn-round" type="button" (click)='downloadMealCouponReport()'><i class="fas fa-coffee"></i> | Download Meal Coupon Report </button>
	<button class="btn btn-primary btn-round" type="button" (click)='downloadShiftAllowReport()'><i class="fas fa-business-time"></i> | Download Shift Allowance Report</button>
</div>