/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-typography .cdk-overlay-container{
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.5);
}
/* Common styling will be hare */
.btn_sec{
  margin-top: 20px;
}
.btn_sec button{
  margin-right: 10px;
}
.dialogForm{
  margin-top: 25px;
}
.dialogForm .mat-form-field{
  padding-right: 15px;
  width: 33.3%;
}
.dialogForm .mat-form-field:last-child{
  padding-right: 0px !important;
}
.dialogForm .mat-form-field .mat-icon-button {
  height: 30px !important;
  line-height: 42px !important;
}
.wid100p{
  width: 100%;
}
.actionBtnWrap button{
  font-size: 18px;
  padding: 0 10px;
  color: #666;
}
.actionBtnWrap button:hover{
  font-size: 18px;
  padding: 0 10px;
}
/* .actionBtnWrap button:first-child{
  margin-bottom: 5px;
} */


/* Footer section */
.footer{
  background: #343a40;
  padding: 10px 10px;
  margin-top: 20px;
  color: #ccc;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.form_wrap{
  margin: 0 auto;
  margin-top: 12%;

}
.form_wrap h2{
  background: #ccc;
  padding: 5px 15px;
  margin-bottom: 0;
  border-radius: 5px 5px 0px 0px;
}
.login_form{
  border: 1px solid #ccc;
  padding: 20px 30px 20px;
  border-radius: 0px 0px 5px 5px;
}